body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.card-container {
  display: flex;
  justify-content:center; /* Adjusts spacing between cards */
  align-items: flex-start;       /* Aligns items at the start of the container */
  gap: 20px;                     /* Adds space between cards */
  margin: 20px 0;                /* Adds some margin around the container */
}
